.highlighted {
    color: #1c222a;
    font-weight: bold;
    background: #c1ddff !important;
    scale: 1;
}

.highlighted path {
    fill: #1c222a;
}

.highlighted button:hover path {
    fill: #ffffff;
}

.list-row {
    transition: all linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) 0.3s
}

.list-row:hover {
    background: #f0f8ff1f;
    scale: 0.98;
}

.highlighted:hover {
    scale: 1.02;
}

.list-row:active {
    scale: 0.95;
}

.highlighted:active {
    scale: 0.98
}